<nav class="flex justify-between items-center" id="nav">
  <div>
    <a
      class="text-lg text-indigo-600 font-bold cursor-pointer"
      [routerLink]="['/']"
    >
      YourMarket
    </a>
  </div>
  @if(!userIsAuthenticated) {

  <div class="flex gap-x-6">
    <button class="btn btn-sign-in" [routerLink]="['/sign-in']">Sign In</button>
    <button class="btn btn-sign-up" [routerLink]="['/sign-up']">Sign Up</button>
  </div>
  } @else {
  <div class="flex">
    <button class="btn btn-log-out" [routerLink]="['/']">Log Out</button>
  </div>
  }
</nav>
