<nav class="flex justify-between items-center" id="nav">
  <div>
    <a
      class="text-lg text-indigo-600 font-bold cursor-pointer"
      [routerLink]="['/']"
    >
      YourMarket
    </a>
  </div>
  @if(!userIsAuthenticated) {

  <div class="flex gap-x-6">
    <button class="btn btn-sign-in" [routerLink]="['/sign-in']">Sign In</button>
    <button class="btn btn-sign-up" [routerLink]="['/sign-up']">Sign Up</button>
  </div>
  } @else {
  <div class="flex flex-row gap-x-10">
    <div>
      <span class="mr-4 pb-2 text-base items-center">My Profile</span>
      <i
        class="pi pi-user text-indigo-600 text-2xl cursor-pointer"
        [routerLink]="['/my-account']"
      ></i>
    </div>
    <button class="btn btn-log-out" (click)="onLogout()">Log Out</button>
  </div>
  }
</nav>
<ng-container>
  <p-toast></p-toast>
</ng-container>
