<div class="flex flex-row gap-x-10 mt-5">
  <div class="flex flex-col" [style]="{ 'max-width': '650px' }">
    <div class="uppercase">
      <p class="text-3xl">Contact <span class="text-indigo-600">Us</span></p>
      <p class="text-base text-slate-300">
        Lörem ipsum astrol mononade posat tetrapong. Pladen döpogt, tude dejåse.
        Jadöligt gyfåskade, divis ryling. Denetik FAR heren. Nidören.
      </p>
    </div>
    <img
      class="mt-3"
      [style]="{ 'max-width': '500px', 'max-height': '500px' }"
      src="../../../../../assets/contact_img.svg"
      alt="contact image"
    />
  </div>
  <div>
    <div class="ml-36">
      <p class="text-xl uppercase">
        Leave your <span class="text-indigo-600">Contact info</span> here!
      </p>
      <div class="flex flex-row gap-x-4">
        <div class="flex flex-col">
          <form>
            <div class="my-5">
              <p-floatLabel>
                <input pInputText id="phoneNumber" />
                <label for="phoneNumber">Phone Number</label>
              </p-floatLabel>
            </div>
            <div class="my-5">
              <p-floatLabel>
                <input pInputText id="email" />
                <label for="email">Email</label>
              </p-floatLabel>
            </div>
            <div class="my-5">
              <p-floatLabel>
                <input pInputText id="nameOfCompany" />
                <label for="nameOfCompany">Name of company</label>
              </p-floatLabel>
            </div>
            <div>
              <p-floatLabel>
                <textarea id="additionalInfo" rows="5" cols="30" pInputTextarea>
                </textarea>
                <label for="additionalInfo">Additional Info</label>
              </p-floatLabel>
            </div>
          </form>
        </div>
        <div class="place-items-end flex">
          <button class="btn btn-send-contact-info ml-5">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
