@if (basket) {
<div class="flex flex-row justify-center gap-x-10 mb-10">
  <div>
    <p class="text-2xl mt-10 mb-20">Your basket</p>
    <div class="border-y border-black">
      <p class="ml-2 text-base">
        {{ basket.items.length }} item(s) in your basket.
      </p>
    </div>
    @for (item of basket.items; track $index) {
    <div class="flex flex-row my-10">
      <p class="mr-1">
        <span class="text-indigo-600">Product Name: </span>{{ item.name }}
      </p>
      <p class="mr-1">
        <span class="text-indigo-600">Price: </span> {{ item.price }}$
      </p>
      <p class="mr-1">
        <span class="text-indigo-600">Quantity: </span> {{ item.quantity }}
      </p>
    </div>
    }
  </div>
  @if (basket.items.length > 0) {
  <div class="mt-auto">
    <button class="btn btn-place-order" (click)="onCreateOrder()">
      Place Order
    </button>
  </div>
  }
</div>
} @else {
<p>No items in the basket.</p>
}
