<div @fadeIn class="min-h-full mx-20">
  <div class="flex flex-row justify-between mt-10 mb-3">
    <div class="flex flex-col uppercase" [style]="{'max-width': '583px'}">
      <p class="text-xl text-slate-600 tracking-wider">Best market app</p>
      <p class="text-5xl mt-2">
        <span class="text-indigo-600">YMT</span> helps your business
        <span class="text-indigo-600">Grow</span>
      </p>
      <p class="text-base text-slate-300 mt-2">
        Lörem ipsum sesade nyhetsundvikare pens demigen teraplanat. Polisofi
        ordningskonsult, bullerbysyndromet. Flyttstajla mude klustersmitta lisk,
        kroktiga. Antisat dusk issade pyvode. Sos synfoni. Tevis an tist tisen.
      </p>
      <button class="btn btn-search-for-products ml-auto">Search for products</button>
    </div>
    <div [style]="{'max-width': '500px', 'max-height': '500px'}">
      <img
        src="../../../../../assets/basket_img.svg"
        alt="shop-basket-customer"
      />
    </div>
  </div>
  <app-contact-section-view></app-contact-section-view>
</div>
